In [7]:
import pandas as pd

In [8]:
df = pd.read_excel("data/train.xlsx")

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   dt                400 non-null    datetime64[ns]
 1   Цена на арматуру  400 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 6.4 KB

In [9]:
df.describe()

                        dt  Цена на арматуру
count                  400        400.000000
mean   2018-11-01 12:00:00      39229.475000
min    2015-01-05 00:00:00      21000.000000
25%    2016-12-03 06:00:00      31075.000000
50%    2018-11-01 12:00:00      35450.000000
75%    2020-09-29 18:00:00      42000.000000
max    2022-08-29 00:00:00      79000.000000
std                    NaN      13407.979668